<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="ServerListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="server.log" />
        <add name="ConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>